@import url("fonts.css");

body {
  /*width: 320px;*/
  /*width: 768px;*/
  max-width: 1120px;
  font-family: "TT Lakes", sans-serif;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
}
a {
  text-decoration: none;
  color: #1b1c21;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
.circle-btn {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  transition: 0.2s;
}
.circle-btn:last-child {
  margin-right: 0;
}
.circle-btn:hover {
  opacity: 0.8;
}
.circle-btn:active {
  transform: translateY(2px);
}

.line-right::after {
  content: "";
  display: inline-block;
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
  border-radius: 1px;
  position: relative;
  left: 40px;
}

.view-line::before {
  content: "";
  display: inline-block;
  height: 32px;
  width: 4px;
  background-color: #41f6d7;
  /*border-right: 4px solid #41f6d7;*/
  border-radius: 0 4px 4px 0px;
  /*margin-right: 12px;*/
}


.header-menu__burger-close {
  background-image: url("../images/burgerClose.svg");
}
.header-menu__search {
  background-image: url("../images/search.svg");
}
.header__burger {
  background-image: url("../images/burger.svg");
}
.header__checkstatus {
  background-image: url("../images/checkstatus.svg");
}
.header__repair {
  background-image: url("../images/repair.svg");
}
.header__profile {
  background-image: url("../images/profile.svg");
}
.header__chat {
  background-image: url("../images/chat.svg");
}
.header__call {
  background-image: url("../images/call.svg");
}
.slide-menu__item:nth-child(2) {
  order: 1;
}
.slide-menu__item:nth-child(3) {
  order: 2;
}
.slide-menu__item:nth-child(4) {
  order: 3;
}
.slide-menu__item:nth-child(5) {
  order: 4;
}
.slide-menu__item:nth-child(6) {
  order: 5;
}
.slide-menu__item:nth-child(7) {
  order: 6;
}